@use "./styles/colors.scss" as colors;
@use "./styles/fonts.scss" as fonts;
@use "./styles/breakpoints.scss" as breakpoints;

:root {
  font-family: fonts.$mainFont;
  line-height: fonts.$mainHeight;
  font-weight: fonts.$normal;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font-size: 62.5%;
}

@media (max-width: 64em) {
  #app {
    min-width: 320px;
    min-height: 100vh;
    background-color: white;
  }
}

@include breakpoints.from1024 {
  body {
    margin: 0;
    display: flex;
    place-items: center;
    height: 100vh;
    width: 100vw;

    font-size: 1.6rem;
    background-color: colors.$mainBackground;
  }

  #app {
    margin: auto;
    background-color: colors.$mainBackground;
  }
}
