@use './styles/colors.scss' as colors;
@use './styles/fonts.scss' as fonts;

:root {
  font-family: fonts.$mainFont;
  line-height: fonts.$mainHeight;
  font-weight: fonts.$normal;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: colors.$mainBackground;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-size: 1.6rem;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
}

